{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    {{block "meta" .}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    {{end}} {{block "css" .}}
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
    {{end}} {{block "js" .}}
    <script src="/public/js/main.js"></script>
    {{end}}
  </head>

  <body>
    {{block "navbar" .}} {{end}} {{block "body" .}} {{end}}
  </body>
</html>
{{end}}
